body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

#titleindex {
    color: white;
    text-align: center;
    background-color: #111 !important;
    margin-bottom: 20px;
    font-size: 36px !important;
    transition: 0.3s;
}

.sidebar h1 {
    color: white;
    text-align: center;
    background-color: #111 !important;
    margin-bottom: 20px;
    font-size: 36px!important;
    transition: 0.3s;
}

.sidebar ul {
    margin-left: 10px;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.sidebar li {
    padding: 8px !important;
}

.sidebar ul ul{
    text-indent: 20px;
}

.sidebar ul ul li{
    padding-top: 2px !important;
}

ol, ul, li {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding-bottom: 5px;
  }

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #87CEEB;
}

#titleindex:hover {
    color: #87CEEB;
}

.content {
    margin-left: 240px;
    padding: 16px;
}

.evidenziato {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.sidebar-large {
    width: 280px !important;
}

.textbig {
    font-size: 22px !important;
    color: rgb(243, 211, 149)  !important;
}

.content-small {
    margin-left: 270px;
    padding: 16px;
}

.sidebar-large ul ul{
    margin-bottom: 30px !important;
}

#backtoindex {
    color: white;
    text-align: right;
    background-color: #111 !important;
    font-size: 26px !important;
    transition: 0.3s;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

#backtoindex:hover {
    color: #87CEEB;
}

.sidebar a img {
    width: 6.7%;
    height: 6.7%;
    border: none;
    margin-left: 9px;
}

