<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulazione Richiesta FW</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script th:src="@{/js/main.js}"></script>
    <script src="/js/sockjs.min.js"></script>
    <script src="/js/ws_utils.js"></script>
</head>
<body>
<div class="container">
    <h1 class="text-center"><span th:text="${arg}">Application name</span></h1>
    <h3 class="text-center">Deposit request simulation</h3>
    <div class="mb-3">
        <label class="form-label">Welcome, please enter the <b>quantity of food</b> (kg) you need to deposit. <br>
            The load must be a whole number greater than <i>0</i>.</label>
        <input type="number" id="quantity" name="fw" min="1" required class="form-control"
               placeholder="Load of food (kg)">
        <button id="save" class="btn btn-primary mt-3" onclick="validateInput()">
            <span class="spinner-border spinner-border-sm me-2" aria-hidden="true" hidden="hidden"></span>
            <span role="status" id="save-status">Send request</span>
        </button>
    </div>

    <div id="responseBody" style="display: none;">
        <label id="responseText" class="form-label"></label>
        <div id="countdown"></div>
    </div>
</div>

<div class="toast-container">
    <div id="errorToast" class="toast align-items-center text-white" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header bg-danger">
            <strong class="me-auto">ERROR</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div id="chargeTaken" class="popup" style="display: none;">
    <label class="alert-label">The load has been picked up. <br>The page will be restored shortly.</label>
    <div id="countdownChargeTaken"></div>
</div>

<div id="timeout" class="popup" style="display: none;">
    <label class="alert-label">The timeout for handling the load has expired. <br>The page will be restored shortly.</label>
</div>

<script>connect()</script>
</body>
</html>
