.popup {
    color: #000000;
    /* White text color */
    padding: 35px;
    border-radius: 10px;
    /* Slightly rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Soft shadow effect */
    position: fixed;
    top: 25%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup p {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup button {
    color: rgb(22, 21, 21);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#chargeTaken button:hover {
    background-color: #a7e9b8e5;
}

#timeout button:hover {
    background-color: #bd1313d8;
}

#chargeTaken {
    background-color: #a7e9b8e5;
}

#timeout {
    background-color: #bd1313d8;
}