table.grid {
}

div.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr.grid {
    display: flex;
}

td.grid {
    padding: 5px;
}

.grid-item {
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border: 1px solid #000;
}

.empty-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px; /* Adjust the size of the squares as needed */
    height: 70px; /* Adjust the size of the squares as needed */
    background-color: #fff;
    border: 1px solid #000;
}

.opaque {
    opacity: 0.6;
}